.header {
  background: linear-gradient(90deg, #454A52 21.5%, #50908B 100%);
  position: fixed;
  top: 0px;
  z-index: 664;
  width: 362px;
  height: 74px;
  display: flex;
  align-items: center;
  clip-path: polygon(0% 0%, 0% 100%, 82.556% 100%, 82.556% 100%, 83.1% 99.869%, 83.633% 99.482%, 84.153% 98.847%, 84.655% 97.974%, 85.137% 96.871%, 85.595% 95.546%, 86.025% 94.009%, 86.425% 92.267%, 86.791% 90.331%, 87.12% 88.208%, 94.764% 33.414%, 94.764% 33.414%, 95.092% 31.291%, 95.458% 29.354%, 95.858% 27.613%, 96.289% 26.076%, 96.747% 24.751%, 97.228% 23.648%, 97.731% 22.774%, 98.25% 22.14%, 98.784% 21.753%, 99.327% 21.622%, 397.79% 21.622%, 397.79% 0%, 0% 0%);
}

.headertopline {
  background: linear-gradient(90deg, #50908B 21.5%, #00FFD5 71%, #396B6A 100%);
  z-index: 664;
  height: 16px;
  margin-left: 362px;
}

.searchArea {
  background-color: #454B52;
  transition: All 0.3s;
  position: absolute;
  top: 90px;
  left: 32px;
  z-index: 1000;
}

.searchAreaClose {
  width: 112px;
  height: 38px;
  border-radius: 100px;
  box-shadow: 0px 0px 4px 0px #FFFFFF40 inset;
}

.searchAreaExpand {
  width: 400px;
  height: 432px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px #00000033;
}

.searchAreaExpandResult {
  width: 400px;
  height: 542px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px #00000033;
}

.searchBeginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454B52;
  box-shadow: 0px 0px 4px 0px #FFFFFF40 inset;
  padding: 10px 16px;
  border-radius: 100px;
  font-family: 'Noto Sans TC';
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: normal;
  gap: 8px;
}

.searchBeginText {
  animation: changeFont 0.3s forwards;
  font-family: 'Noto Sans CJK TC';
  margin-right: auto;
  line-height: normal;
}

.searchResultText {
  font-family: 'Noto Sans CJK TC';
  margin-right: auto;
  line-height: normal;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
}

.addressSearchTabs :global(.ant-tabs-nav) {
  display: none;
}

.mapLoadingContainer {
  width: 1519px;
  height: 738px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapLoadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapLoadingMask {
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* 半透明白色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchMethodSelectedBackground {
  width: 174px;
  height: 32px;
  border-radius: 100px;
  background: #2B2F33;
  box-shadow: 0px 2px 8px 0px #0000000D;
  position: absolute;
  z-index: 1;
  transition: All 0.3s;
}

.searchMethodSwitch1 {
  margin-left: 2px;
}

.searchMethodSwitch2 {
  margin-left: 176px;
}

.resultTypeSelectedBackground {
  width: 116px;
  height: 32px;
  border-radius: 100px;
  background: #2B2F33;
  box-shadow: 0px 2px 8px 0px #0000000D;
  position: absolute;
  z-index: 1;
  transition: All 0.3s;
}

.resultTypeSwitch1 {
  margin-left: 2px;
}

.resultTypeSwitch2 {
  margin-left: 118px;
}

.resultTypeSwitch3 {
  margin-left: 234px;
}

.addressSearchForm :global(.ant-form-item) {
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeFont {
  0% {
    font-size: 14px;
    font-weight: 400;
    color: #00000000;
  }

  100% {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
  }
}

.watermark {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("watermark.png");
  background-position: center;
  /* background-repeat: repeat; */
  background-attachment: fixed;
  z-index: 666;
  pointer-events: none;
}

.counter {
  position: absolute;
  bottom: 61px;
  right: 112px;
}